<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/purchase.css">
    <link rel="stylesheet" href="/css/sales.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
    <script defer src="/js/index.js" ></script>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/shop/hero.ejs') %>
    <%- include('../includes/shop/purchase.ejs') %>
    <%- include('../includes/shop/salesOne.ejs') %>
    <%- include('../includes/footer.ejs') %>
</body>
</html>